 /* *{
  background-color: #F3F9F4;
} */

.btn-primary {
    background-color: #01575C !important;
    border-color: #01575C !important;
    border-radius: 10px !important;
    width: 384px;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    margin-top: 50px;
  }

  h3 {

    margin-left: 650px;
    margin-right: 50px;
    margin-top: 60px;
    padding-top: 200px;
    text-align: left;
  }

 .form-group label {
    text-align: left;
    font-weight: 500;
    color: #01575C;
    padding-bottom: 5px;
 }

 .form-group {
   border-color: #01575C;
 }

 .form-group input {
  border-color: #01575C;
  border-width: 1.5px;
  border-radius: 10px;
 }

 .float-container-form{
   padding-top: 200px;
   padding-bottom: 10px;
   margin-left: 300px;
 }

 .float-child1-form {
   float: left;
   width: 384px;
 }

 .float-child2-form {
   padding-top: 80px;
   padding-left: 50px;
   margin-left: 20px;
   float:left;
   width: 434px;
 }

 p {
   font-size: 40px;
   font-weight: 600;
 }

 .center {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}